<details>
<summary style="cursor: pointer; padding-left: 10px;">copy-paste help</summary>
  <ul>
    <li>Select &amp; Copy to Clipboard</li>
    <ul>
      <li>Line: <b>Shift+Left Click &amp; Drag</b></li>
      <li>Block: <b>Shift+Alt+Left Click &amp; Drag</b></li>
    </ul>
    <li>Paste From Clipboard</li>
    <ul>
      <li><b>Shift+Insert</b></li>
      <li><b>Ctrl+Shift+V</b></li>
    </ul>
  </ul>
</details>
