<%
  # generate form id, based on host and port
  require 'digest'
  form_id = Digest::SHA1.hexdigest("--" + host.to_s + "--" + port.to_s + "--")
  # the form method must be GET, a POST is seen as an empty GET
%>
<form id="<%= form_id %>" action="/node/<%= host %>/<%= port %>/<%= password %>/index.html" method="GET" target="_blank">
    <button class="btn btn-primary" type="submit">
      <i class="fa fa-eye"></i> Connect 
    </button>
</form>
<ul>
  <li>Transparent copy/paste should work from Chromium based browsers (like Google Chrome and Edge).</li>
  <li>Browsers not supporting copy/paste can make use of the clipboard textbox in the control panel.</li>
</ul>
